﻿@model IQueryable<CardViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "ViewCardByUserId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All Cards</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {

                               column.Add(p => p.CardName)
                               .Titled("Name On Card")
                               .Filterable(true)
                                 .Encoded(false)
                                .Sanitized(false)
                                .Sortable(true);

                               column.Add(p => p.CardNumber)
                               .Titled("Card Number")
                               .Filterable(true);

                               column.Add()
                             .Titled("Added Date")
                             .RenderValueAs(x => x.CreatedDateTimeUTC.ToString("dd/MM/yyyy"));

                           }).Selectable(false).WithPaging(10)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {

    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        ActiveMenu("AllUsers");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
    </script>
}
