﻿@{ BreadcrumbModel breadcrumbModel = ViewBag.breadcrumbModel;
    if (breadcrumbModel != null)
    {
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    @if (!string.IsNullOrEmpty(breadcrumbModel.actionTitle))
                    {
                        <li class="breadcrumb-item">
                            <a href="@Url.Action(breadcrumbModel.actionName, breadcrumbModel.actioncontroller)">
                                @breadcrumbModel.actionTitle
                            </a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(breadcrumbModel.subActionTitle))
                    {
                        <li class="breadcrumb-item active">
                            @breadcrumbModel.subActionTitle
                        </li>
                    }
                </ol>
            </div>
        </div>

    }
}