﻿@model ResetPasswordModel
@{
    Layout = null;
}
<link href="~/Content/css/ForgetPassword.css" rel="stylesheet" />
<!DOCTYPE HTML>
<html>
<head>
    <title>Change Password</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <style>
        .test {
            font-size: 1em;
            color: #A29E9E;
            padding: 1em 0.5em;
            display: block;
            width: 95%;
            outline: none;
            margin-bottom: 1em;
            text-align: center;
            border: 1px solid #B9B9B9;
        }
    </style>
    @Scripts.Render("~/jQuery/bundles")
    @Scripts.Render("~/jQuery/ui")
    @Scripts.Render("~/jQuery/validate")
    <script type="text/javascript">
        function fnClearForm(data) {
            $('.divErrorNotify').text(data.responseJSON);

            $('#EmauilSubscriber_EmailId').val('')
        }
        function fnClearForm(data) {
            $('.divErrorSubmit').text(data.responseJSON);
        }
    </script>
</head>
<body>
    <!--element start here-->
    <div class="elelment">
        <h2>Reset new password</h2>
        <div class="element-main">
            <h1>Change Password</h1>
            <p></p>
            @*@using (Ajax.BeginForm("SetPassword", "Users", FormMethod.Post, new { @UserId = ViewContext.RouteData.Values["UserId"], @class = "page-form" }))*@

            @using (Ajax.BeginForm("SetPassword", "Users", null, new AjaxOptions { HttpMethod = "POST", OnComplete = "fnClearForm" }, new { @id = "Forgetpassword" }))
            {
                var test = ViewBag.userid;
                @Html.HiddenFor(x => x.UserId)

                @Html.ValidationSummary(true)

                @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control test", @placeholder = "New Password" })
                @Html.ValidationMessageFor(x => x.NewPassword)

                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control test", @placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword)

                <input type="submit" value="Change Password">
                <h1 class="text-center divErrorSubmit" style="font-size: 1.0em;font-weight: 300;">
                </h1>
            }
        </div>

    </div>
    @*<div class="copy-right">
            <p>© @DateTime.Now.Year Reset Password Form. All rights reserved <a href="http://Glainer.com/" target="_blank">  W3layouts </a></p>
        </div>*@

    <!--element end here-->
</body>
</html>
