﻿@model IQueryable<UserDetailsModel>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")

@helper ActionButtons(string Id, bool IsActive)
{
    <a href="javascript:;" class="btn btn-sm btn-primary btn-red deactivate" data-id="@Id" style="display:@(IsActive?"inline-block;":"none;")">
        <i class="icon-ban"></i> Deactivate
    </a>

    <a href="javascript:;" class="btn btn-sm btn-primary btn-green activate" data-id="@Id" style="display:@(!IsActive?"inline-block;":"none;")">
        <i class="icon-toggle-right"></i> Activate
    </a>

    <a href="@Url.Action("Delete", "Users", new { @id = Id })" class="btn btn-sm btn-primary btn-blue">
        <i class="icon-box"></i> Delete
    </a>

}

@helper NameLink(string UserId, long NumberOFCard)
{
    <a href="@Url.Action("ViewCardByUserId", "Card", new { @id = UserId })">
        @NumberOFCard
    </a>
}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All Users</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {

                               column.Add(p => p.Name)
                               .Titled("Full Name")
                               .Filterable(true)
                                .Sortable(true);

                               column.Add(p => p.Email)
                               .Titled("Email")
                               .Filterable(true);

                               column.Add(p => p.PhoneNumber)
                             .Titled("Phone Number")
                             .Filterable(true);

                               column.Add(P => P.NumberOFCard)
                            .Titled("Number Of card")
                            .Filterable(true)
                             .Sortable(true)
                            .Sanitized(false)
                            .Encoded(false)
                            .RenderValueAs(x => NameLink(x.UserId, x.NumberOFCard));

                               column.Add()
                            .Titled("Register Date")
                            .RenderValueAs(x => x.CreatedDate.ToString("dd/MM/yyyy"));

                               column.Add()
                               .Titled("Action")
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => ActionButtons(x.UserId, x.IsVerifyed));

                           }).Selectable(false).WithPaging(10)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {

    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        ActiveMenu("AllUsers");
         $(".jsgrid-grid-body").css('overflow-x', 'auto');

           $(function () {
               $(".deleteData").click(
                   function () {
                deleteRow($(this), '@Url.Action("Delete")');
            });
           });


           $(function () {
            $(".activate").click(function () {
                var control = $(this);
                var Url = '@Url.Action("ActiveToggle")';

                 swal({
                     title: "Are you sure to activate this user?",
                     //text: "You will not be able to recover this date!",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DA4453",
                     confirmButtonText: "Yes, activated it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 }, function (isConfirm) {
                     if (isConfirm) {
                         $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                             if (response.Status == 1) {
                                 setTimeout(function () {
                                         control.parent().find(".deactivate").show()
                                         control.hide()
                                 }, 300);

                                 swal("Activated!", response.Message, "success");

                             }
                             else {
                                 control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-ban');
                                 swal("Error", response.Message, "error");
                             }
                         });
                     } else {
                         control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-ban');
                         swal("Cancelled", "Your record is safe :)", "info");
                     }
                 });
             });

            $(".deactivate").click(function () {
                 var control = $(this);
                 var Url = '@Url.Action("ActiveToggle")';

                 swal({
                     title: "Are you sure to deactivate this user?",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DA4453",
                     confirmButtonText: "Yes, deactivated it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 }, function (isConfirm) {
                     if (isConfirm) {
                         $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                             if (response.Status == 1) {
                                 setTimeout(function () {
                                         control.parent().find(".activate").show()
                                         control.hide()
                                 }, 300);
                                 swal("Deactivated!", response.Message, "success");

                             }
                             else {
                                 control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-toggle-right');
                                 swal("Error", response.Message, "error");
                             }
                         });
                     } else {
                         control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-toggle-right');
                         swal("Cancelled", "Your record is safe :)", "info");
                     }
                 });
            });
        });
    </script>
}